<div class="row m-4 d-flex justify-content-between background">
    <div class='col-2'>
        <img src='https://static.wikia.nocookie.net/pokemon/images/5/57/Red_FireRed_and_LeafGreen.png'>
    </div>
    <div class='col-8'>
        <div class="card" style="width: 100%; min-height: 450px">
           <img src={{pokemon.sprite}} class="card-img-top" alt=`{{pokemon.name}} style="width: 100px; height: 100px;">
            <div class="card-body background">
                <h5 class="card-title">Battle stats</h5>
                <p class="card-text">{{stats}}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    <div class='col-2'>
        <img src='https://static.wikia.nocookie.net/pokemon/images/0/01/Green_FireRed_and_LeafGreen.png'>
    </div>
</div>

<button href='/play/battle' type="button" class="btn btn-light d-flex flex-row-reverse" id='goNext'>Continue to next battle</button>




<script src='/js/play/post.js'></script>