<div class='row d-flex flex-wrap background'>
    <div class='col-6 d-flex justify-content-center'>
        {{>pokemon-details}}
    </div>
    <div class='col-6 d-flex justify-content-center'>
         {{>monster-details}}
    </div>
</div>
<div id='turn' data-l_id={{level.id}} data-m_left= {{level.monster_left}} data-turn={{level.monsterTurn}}></div>
<script src="/js/play/battle.js"></script>