{{! IF NO GAME IN PROGRESS }}
{{#unless game.isCurrent}}
  <div class='row d-flex flex-column'>
    <div
      class='col-2 container-fluid d-flex justify-content-center text-nowrap'
    >
      <h3>Select a starter pokemon!</h3>
    </div>
    <div class='col-10 container-fluid'>
        <div class="row d-flex flex-row justify-content-around">
            <div class="card" style="width: 16rem;">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Stats:</p> {{!-- add some stats here --}}
                <button class="btn btn-primary" id="charmander">Pick Charmander!</button>
                </div>
            </div>
                <div class="card" style="width: 16rem;">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/7.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Stats:</p> {{!-- add some stats here --}}
                <button class="btn btn-primary" id="squirtle">Pick Squirtle!</button>
                </div>
            </div>
                <div class="card" style="width: 16rem;">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Stats:</p> {{!-- add some stats here --}}
                <button class="btn btn-primary" id="bulbasaur">Pick Bulbasaur!</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <img
    class='position-absolute top-50 start-50 translate-middle'
    src='/images/game_start_continue.png'
    id='continue_game'
  />
  {{!-- <button class="btn btn-success" id="new_game">New game</button> --}}
{{/unless}}
<script src='/js/play/start.js'></script>