{{!-- If not logged in, show a splash screen, otherwise, show play a new game --}}
<div class='row'>
    {{#if loggedIn}}
    <div class="col row d-flex justify-content-center">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png">
    </div>
    {{else}}
    <div class="col row d-flex justify-content-center">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png" style="border-radius: 20%; width: 500px; height: 500px;">
    </div>
    {{/if}}
</div>