{{! If not logged in, show a splash screen, otherwise, show play a new game }}
<div class='row background'>
  {{#if loggedIn}}
    <div class='col d-flex align-items-center flex-column'>
      <img
        src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png'
        id='login-splash'
      />
      <button
        type='button'
        class='btn btn-success'
        id='playBtn'
        href='/game_start'
      >PLAY POKEBATTLE!</button>
      <div>Logged in as {{username}}</div>
    </div>
  {{else}}
    <div class='col d-flex justify-content-center flex-row'>
      <img
        src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png'
        style='border-radius: 20%; width: 500px; height: 500px;'
      />
      <div>Please login!</div>
    </div>
  {{/if}}
</div>
<script src='/js/menu/home.js'></script>