{{!-- If not logged in, show a splash screen, otherwise, show play a new game --}}
<div class='row'>
    {{#if loggedIn}}
    <div class="col">
        <img src="https://via.placeholder.com/400x400">
    </div>
    {{else}}
    <div class="col">
        <img src="https://via.placeholder.com/400x400">
    </div>
    {{/if}}
</div>