<div class="row d-flex justify-content-around background">

  <div class="login-card">
    <h2 class="page-title title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="user-login" class='content'>Username:</label>
        <input class="form-input" type="text" id="user-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class='content'>Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="m-1 btn btn-primary content" type="submit">login</button>
      </div>
    </form>
  </div>

  <div class="login-card">
    <h2 class="page-title title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup" class='content'>Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class='content'>Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup-confirm" class='content'>Retype password:</label>
        <input class="form-input" type="password" id="password-signup2" />
      </div>
      {{!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Gender
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Male Trainer</a></li>
            <li><a class="dropdown-item" href="#">Female Trainer</a></li>
            <li><a class="dropdown-item" href="#">Randomize!</a></li>
          </ul>
      </div> --}}
      <div class="form-group">
        <button class="m-1 btn btn-primary" type="submit" class='content'>signup</button>
      </div>
    </form>
  </div>

</div>

<script src='/js/menu/login.js'></script>