<div class="row d-flex justify-content-around background">

  <div class="login-card">
    <h2 class="page-title title">Login</h2><br></br>
    <form class="form login-form">
      <div class="mb-3">
        <label for="user-login" class='content'>Username</label>
        <input class="form-control" type="text" id="user-login" placeholder="Username"/>
      </div>
      <div class="mb-3">
        <label for="password-login" class='content'>Password</label>
        <input class="form-control" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary content" type="submit">login</button>
      </div>
    </form>
  </div>

  <div class="login-card">
    <h2 class="page-title title">Sign Up</h2><br></br>
    <form class="form signup-form">
      <div class="mb-3">
        <label for="username-signup" class='content'>Username</label>
        <input class="form-control" type="text" id="username-signup" placeholder="Username"/>
      </div>
      <div class="mb-3">
        <label for="password-signup" class='content'>Password</label>
        <input class="form-control" type="password" id="password-signup" placeholder="Password"/>
      </div>
      <div class="mb-3">
        <label for="password-signup-confirm" class='content'>Retype Password</label>
        <input class="form-control" type="password" id="password-signup2" placeholder="Retype Password"/>
      </div>
      {{!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Gender
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Male Trainer</a></li>
            <li><a class="dropdown-item" href="#">Female Trainer</a></li>
            <li><a class="dropdown-item" href="#">Randomize!</a></li>
          </ul>
      </div> --}}
      <div class="mb-3">
        <button class="btn btn-primary" type="submit" class='content'>sign up</button>
      </div>
    </form>
  </div>

</div>

<script src='/js/menu/login.js'></script>