<div class="row">
    <div class="col-9" for="list of pokemon">
        <div class="row d-flex justify-content-evenly">"
        {{#each pokemons as |pokemon|}}
        {{>creature-details}} {{!-- Generate cards for each pokemon the user has--}}
        {{/each}}
        </div>
    </div>
    <div class="col-3" for="user stats">
        <div class='row'>
            <div class="card" style="width: 18rem;">
                <img src="https://static.wikia.nocookie.net/pokemon/images/5/57/Red_FireRed_and_LeafGreen.png" {{!-- Change url based on gender of user --}} class="card-img-top" alt="trainer">
                <div class="card-body">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p class="card-text">Some user stats</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/menu/profile.js'></script>