/* Color themes for pokemon */
:root {
    --primary: #FF0000;
    --secondary: #CC0000;
    --tertiary: #3B4CCA;
    --quarternary: #FFDE00;
    --gold: #B3A125;
    --background: #E8E2BD;
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
}

.body {
    background-color: #201c24;
}

#pokebattle {
    text-decoration: none;
    color: var(--quarternary);
}

#nav {
    background: radial-gradient(circle, rgba(174,238,232,1) 0%, rgba(148,187,233,1) 100%);
}

.home-title {
    background-color: #201c24;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
}

.nav-link {
    color: #201c24;
    font-family: 'Press Start 2P', cursive;
}

.background {
    background-color: #201c24;
    height: 100%;
}

.m-1, .m-2 {
    margin: 2rem!important;
}

.card {
    max-height: 500px;
}

.card-text-white {
    color:white
}

.card-char {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%);
}

.card-squirt {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,114,255,1) 100%);
}

.card-bulba {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(59,184,38,1) 100%);
}

#creature-details {
    background: linear-gradient(0deg, #e3ffe7 0%, #d9e7ff 100%);
}

#creature-details:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    box-shadow: 
    7px 7px 7px -7px #fff;
}  

#login-splash {
    max-width: 500px;
    max-height: 500px;
}

#profile-card-body,
#profile-no-pokemon,
.post-card {
    background: linear-gradient(0deg, #e3ffe7 0%, #d9e7ff 100%);
}

.login-card {
    max-width: 300px;
    margin: 50px;
    color: white;
}

.battle-pokemon {
    background: linear-gradient(0deg, rgba(206,245,244,1) 0%, rgba(87,120,255,1) 100%);
}

.battle-monster {
    background: linear-gradient(0deg, rgba(219,199,178,1) 0%, rgba(182,25,25,1) 100%);
}

.white-text {
    color: white;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: -0.25rem;
}

#post-background {
    padding: 50px;
}